.container {
  display: grid;
  grid-template-columns:
    1fr 1fr 1fr 1fr;
  grid-template-areas:
    "header header header header"
    "main   main   sidebar  sidebar"
    "footer footer footer footer ";
}

#item-a {
    grid-area: header;
    background-color: #4be1d5;
    padding : 25px;

}
#item-b {
    grid-area: main;
    background-color: #72b740;
    padding : 25px;
}
#item-c {
    grid-area: sidebar;
    background-color: #13b43e;
    padding : 25px;
}
#item-d {
    grid-area: footer;
    background-color: #7fa998;
    padding : 25px;
}

.container2 {
  display: grid;
  grid-template-columns:
    1fr 1fr ;
  grid-template-areas:
    "texte sidebar";
}

#item-a1 {
    grid-area: texte;
    background-color: #4be1d5;
}

#item-b1 {
    grid-area: image;
    background-color: #ffffff;
    
}
