{% extends "base.html" %}

{% block content %}

<br>Bonjour tout le monde et bienvenu.e.s sur la page de NOISE !! (N.B: cette page a été codée par 25houdant en cours d'info, ne lui tenez pas rigueur svp)
        <br>Un petit index pour commencer :
        <a href="#pole_action" >Pôle action (des photos de manifs)</a>
        <br><a href="#pole_com" >Pôle com (nos meilleures affiches)</a>
        <br><a href="#pole_relations" >Pôle relations (les gens avec qui on discute)</a>
        <p>
           <a name="pole_action"> Pole action</a>
            Voili voilou il y a une manif le 11 février contre la loi Duplomb (oupsi doupsi je n'y vais pas)

        </p>
        <p>
           <a name="pole_com"> Pole com</a> 
           Une affiche sur les trajets en train. 
        </p>
        <span style="background-color: lightblue;">
            
        </span>
        <span style="background-color: #ddd;"> <!--code hexadécimal pour ddd,quand meme 3 chiffres pour rgb-->
            Le fronton des Mines me fait face
        </span>"
        
    <!--actual content-->

{% endblock %}