{% extends "base.html" %}
<head>

<link rel="'stylesheet" href="partie.css">
</head>
{% block content %}
<title>
            NOISE !!! 
        </title>
<font face="Bookman Old Style, Book Antiqua, Garamond">
<span style="background-color: greenyellow;">

<br> <font size="5"><center>Bonjour tout le monde et bienvenu.e.s sur la page de NOISE !! </center>
</font></span>
<br> <font size="1">(N.B: cette page a été codée par 25houdant en cours d'info, ne lui tenez pas rigueur svp)</font>
        <br>Un petit index pour commencer :
        <br>Petite présentation de Noise
        <br><a href="#pole_action" >-Pôle action (des photos de manifs)</a>
        <br><a href="#pole_com" >-Pôle com (nos meilleures affiches)</a>
        <br><a href="#pole_relations" >-Pôle relations (les gens avec qui on discute)</a>
        <div id="item-a1">
            Petite présentation :
            <br>NOISE est le Nouvel Observatoire des Inégalités Sociales et Environnementales. C'est une association (club BDE),
            qui mène différents projets écolos, et c'est surtout l'endroit rêvé pour des discussions et débats infinis sur "mais en fait la décroissance est-ce possible?"
        </div>
        <div id="item-b1">
            <center>
            <img src="{{ url_for('static', path='/Noise.webp') }}" align="middle">
            </center>
            </div>
        <div class="container"> 
         <div id="item-c">
           <a name="pole_action"> Pole action</a>
           
           <br> Voili voilou il y a une manif le 11 février contre la loi Duplomb (oupsi doupsi je n'y vais pas).
           <br> Autre manif prévue le week-end du 4 avril, avec l'Alliance étudiante.
           <br>Pensez à venir à la Pride.
           <br>Les autres infos arrivent bientôt !
           <br> <img src="{{ url_for('static', path='/Total.webp') }}" align="middle">
        </div>
       
        <div id="item-b">
           <a name="pole_com"> Pole com</a> 
           <br>Une affiche sur les trajets en train. 
           <br><img src="{{ url_for('static', path='/trainvavion.png') }}"style="width: 20vw; min-width: 100px;">
           <br>10 bonnes raisons de devenir végétarien.ne
           <br>Pourquoi manger des fruits et légumes de saison ?
           
        </div>
        <div id="item-d">
            <a name="pole_relations"> Pole relations</a>
            <br><span style="background-color: rgb(94, 155, 4);">NOISE</span>  fait partie de l'Alliance Etudiante ( nom voué à changer).
            La liste des assos écolos des autres écoles :<br>
            - Ecocampus <br>
            - Ecosciences <br>
            - Sciences Po environnement <br>

        </div>
        </div>

        <div>
            On a crée 8 pôles en tout, voici la liste :
            <br> - Pôle compost/recyclage
            <br> - Pôle Vendôme (articles)
            <br> - Pôle com (cf pôle décrit précedemment)
            <br> - Pôle films et débats 
            <br> - Pôle action (cf précedemment)
            <br> - Pôle docu/contrecom
            <br> - Pôle relations extérieures
        </div>
        <span style="background-color: lightblue;">
            Merci d'avoir consulté cette page, à bientôt !
        </span>
        </font>
        <span style="background-color: #ddd;"> <!--code hexadécimal pour ddd,quand meme 3 chiffres pour rgb-->
            
        </span>
        
    <!--actual content-->

{% endblock %}